doctype html
html(lang='en')
  head
    title Categorización
    link(rel='stylesheet' ,href='css/app.css')
  body
    div  RenderTime
    p horro tetet
    include blocks/content.pug

    script(src='js/test.js')
    script(type='text/javascript').
        console.log("Load del HTML")